.btn {
    text-decoration: none;
    text-align: center;
    color: $white;
    display: inline-block;
    padding: 1rem 0;
    background-color: $accent-dark;
    border-radius: .2em;
    box-shadow: black 2px 2px 3px;
        @include media-desktop {
                padding: 2rem 4rem;
            }
}

[data-network="tiktok"] {
    background-color: $black;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
}

[data-network="instagram"] {
    background: $insta-gradient;
    font-family: 'Grand Hotel', cursive;
    font-style: normal;
    font-weight: 400;
}

[data-network="facebook"] {
    font-style: normal;
    font-weight: 600;
}