.bg_accent {
    max-height: 90vh;
    position: absolute;
    top: 0;
    left: 25%;
    z-index: -1;
    width: 150vw;
    overflow: hidden;

    .logo {
        fill: url(#MyGradient);
        animation: rotation 40s infinite;
    }

    @include media-desktop {
        max-width: 50vw;
        left: unset;
        right: 0;
        max-height: 95vh;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }


}