body {
    font-family: 'Roboto', sans-serif;
    color: $text-600;
    background: rgba(black, 0.1);
    height: 100vh;
    @include media-desktop{
        display: grid;
        place-content: center;
        align-items: center;
    }
}