.networks {
    isolation: isolate;
    font-size: 2rem;
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    max-width: 35ch;

    @include media-desktop {
        flex-flow: row;
        justify-content: space-between;
        margin-top: 5rem;
    }
}